<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">
            <a href="{{ path('property.show', {id: property.id, slug: property.slug } ) }}">{{ property.title }}</a>
        </h5>
        <p class="card-text">
            {{ property.surface }} m² - {{ property.city }} ({{ property.postalCode }})
        </p>
        <div class="text-primary price">{{ property.formattedPrice }} $</div>
    </div>
</div>