<div class="card mb-3">
    {% if property.filename %}
        <img src="{{ vich_uploader_asset(property, 'imageFile') |  imagine_filter('thumb')  }}" alt="property image" class="card-img-top">
    {% else %}
        <img src="{{ '/images/properties/placeholder.jpg'|  imagine_filter('thumb')  }}" alt="property image" class="card-img-top">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">
            <a href="{{ path('property.show', {id: property.id, slug: property.slug } ) }}">{{ property.title }}</a>
        </h5>
        <p class="card-text">
            {{ property.surface }} m² - {{ property.city }} ({{ property.postalCode }})
        </p>
        <div class="text-primary price">{{ property.formattedPrice }} $</div>
    </div>
</div>