{% extends 'base.html.twig' %}

{% block title %}Manage Options {% endblock %}

{% block body %}
    <div class="container mt-3">
        <div class="manage-header">
            <h1>Manage Options</h1>
            <div class="text-right">
                <a href="{{ path('admin.option.create') }}" class="btn btn-primary">Create Option</a>
            </div>
        </div>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success"> {{ message }} </div>
        {% endfor %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for option in options %}
                <tr>
                    <td>{{ option.name }}</td>
                    <td>
                        <a href="{{ path('admin.option.edit', {id: option.id}) }}"
                           class="btn btn-secondary">edit</a>
                        <form method="POST" action="{{ path('admin.option.delete', {id: option.id}) }}"
                              style="display: inline-block"
                              onsubmit="return confirm('Are you sure you want to delete this item?');">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ option.id) }}">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block stylesheets %}
    <style>
        .manage-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    </style>
{% endblock %}